Repository guacamoledragon/throw-voice: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, container, pages

.gitlab-ci.yml:

cache: &global_cache
  paths:
    - .m2/repository

variables:
  BOT_VERSION: 2.9.8
  MAVEN_OPTS: --batch-mode -Dmaven.repo.local=.m2/repository

build:
  image: maven:3.8-jdk-11
  only:
    changes: &code-changes
      - Dockerfile
      - pom.xml
      - src/main/**/*
  script:
    - mvn $MAVEN_OPTS de.qaware.maven:go-offline-maven-plugin:resolve-dependencies
    - mvn $MAVEN_OPTS test
  stage: build

container:
  image: docker:20.10.1
  cache: {}
  rules:
    - if: $CI_COMMIT_REF_NAME == 'master'
      changes: *code-changes
    - if: $CI_COMMIT_TAG
      changes: *code-changes
  services:
    - docker:20.10.1-dind
  script:
    - '[ -n "$CI_COMMIT_TAG" ] && VERSION=${CI_COMMIT_TAG#"v"} || VERSION=${BOT_VERSION}-${CI_COMMIT_SHORT_SHA}'
    - BUILD_DATE=$(date -u +%FT%TZ)
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - |
      docker build --quiet \
             --cache-from $CI_REGISTRY/pawabot/pawa:latest \
             -t $CI_REGISTRY/pawabot/pawa:${VERSION} \
             --build-arg VCS_REF=${CI_COMMIT_SHORT_SHA} \
             --build-arg BUILD_DATE=${BUILD_DATE} \
             --build-arg VERSION=${VERSION} \
             .
    - '[ -n "$CI_COMMIT_TAG" ] && docker push $CI_REGISTRY/pawabot/pawa:latest || docker push $CI_REGISTRY/pawabot/pawa:${VERSION}'
    - docker tag $CI_REGISTRY/pawabot/pawa:${VERSION} gdragon/throw-voice:${VERSION}
    - docker login -u $DOCKER_LOGIN -p $DOCKER_PASSWORD
    - docker push gdragon/throw-voice:${VERSION}
  stage: deploy
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: /certs

pages:
  artifacts:
    expire_in: 30 days
    paths:
      - public
  cache: {}
  script:
    - cp -r src/site/ public
  stage: deploy
  rules:
    - if: $CI_COMMIT_REF_NAME == 'master'
      changes:
        - CHANGELOG.md
        - src/site/**/*
    - if: $CI_COMMIT_TAG
      changes:
        - CHANGELOG.md
        - src/site/**/*

Add ErrorEmbed for returning errors
  src/main/kotlin/tech/gdragon/discord/message/ErrorEmbed.kt
Due: build, container

Include Pawa App recording URL and format messages
  src/main/kotlin/tech/gdragon/commands/slash/Recover.kt
Due: build, container

Only autocomplete if the user is trigoman
  src/main/kotlin/tech/gdragon/listener/EventListener.kt
Due: build, container

Add simple recover test
  src/test/kotlin/tech/gdragon/api/pawa/PawaTest.kt
Due: none

Test when queue and mp3 files don't exist
  src/test/kotlin/tech/gdragon/api/pawa/PawaTest.kt
Due: none

Test when Recording exists and it has a URL
  src/test/kotlin/tech/gdragon/api/pawa/PawaTest.kt
Due: none

Test when Recording exist but URL is null
  src/test/kotlin/tech/gdragon/api/pawa/PawaTest.kt
Due: none

Bump JDA 5.0.0-beta.4 -> 5.0.0-beta.5
  pom.xml
Due: build, container

Add pawa tag to choose correct runners
  .gitlab-ci.yml
Due: none

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

Revert .gitlab-ci.yml changes
  .gitlab-ci.yml
Due: none

Update CHANGELOG and bump version 2.11.0 -> 2.11.1
  .gitlab-ci.yml
  CHANGELOG.md
  launch4j.xml
  pom.xml
Due: build, container, pages

Add PawaConfig builder class to hold Pawa's config
  src/main/kotlin/tech/gdragon/api/pawa/PawaConfig.kt
Due: build, container

Move RecordingReply to a different namespace
  src/main/kotlin/tech/gdragon/commands/slash/Recover.kt
  src/main/kotlin/tech/gdragon/discord/message/RecordingReply.kt
Due: build, container

Add appUrl to PawaConfig
  src/main/kotlin/tech/gdragon/api/pawa/PawaConfig.kt
Due: build, container

Return RecordingReply embed on /save
  src/main/kotlin/tech/gdragon/commands/audio/Save.kt
  src/main/kotlin/tech/gdragon/listener/CombinedAudioRecorderHandler.kt
Due: build, container

Add command metric to Recover
  src/main/kotlin/tech/gdragon/commands/slash/Recover.kt
Due: build, container

Add PawaConfig to Pawa class
  src/main/kotlin/tech/gdragon/api/pawa/Pawa.kt
Due: build, container

Block on saveRecording until the disposable's subscription has completed
  src/main/kotlin/tech/gdragon/listener/CombinedAudioRecorderHandler.kt
Due: build, container

Update CHANGELOG
  CHANGELOG.md
Due: pages

Remove flurly link, no longer active
  src/site/pawalite.md
Due: pages

Add RequestAccessReply make messages from Pawa look better
  src/main/kotlin/tech/gdragon/discord/message/RequestAccessModal.kt
Due: build, container

Include Session ID in RequestAccess and reply with support server
  src/main/kotlin/tech/gdragon/commands/slash/Recover.kt
  src/main/kotlin/tech/gdragon/discord/message/RequestAccessModal.kt
  src/main/kotlin/tech/gdragon/listener/EventListener.kt
Due: build, container

Rename RequestAccessModal.kt -> RequestAccess.kt
  src/main/kotlin/tech/gdragon/discord/message/RequestAccess.kt
Due: build, container

Autocomplete Session IDs for normal users
  src/main/kotlin/tech/gdragon/commands/slash/Recover.kt
  src/main/kotlin/tech/gdragon/db/dao/DataAccessObject.kt
  src/main/kotlin/tech/gdragon/listener/EventListener.kt
Due: build, container

Send event for slash interaction in the EventListener
  src/main/kotlin/tech/gdragon/commands/audio/Record.kt
  src/main/kotlin/tech/gdragon/commands/audio/Save.kt
  src/main/kotlin/tech/gdragon/commands/audio/Stop.kt
  src/main/kotlin/tech/gdragon/commands/settings/Ignore.kt
  src/main/kotlin/tech/gdragon/commands/settings/Language.kt
  src/main/kotlin/tech/gdragon/commands/settings/Volume.kt
  src/main/kotlin/tech/gdragon/commands/slash/Recover.kt
  src/main/kotlin/tech/gdragon/discord/Bot.kt
  src/main/kotlin/tech/gdragon/listener/EventListener.kt
Due: build, container

Update guild activity when running slash commands
  src/main/kotlin/tech/gdragon/listener/EventListener.kt
Due: build, container

Bump minio 8.4.3 -> 8.5.2
  pom.xml
Due: build, container

Ignore class files
  .gitignore
Due: none

Leave voice channel before attempting to save
  src/main/kotlin/tech/gdragon/BotUtils.kt
  src/main/kotlin/tech/gdragon/commands/audio/Save.kt
Due: build, container

Add pg-start recipe to start PostgresQL for development
  justfile
Due: none

Skip member check of the bot, and leave via RestAction
  src/main/kotlin/tech/gdragon/BotUtils.kt
Due: build, container

Bump jackson-databind from 2.14.2 to 2.15.0-rc3
  pom.xml
Due: build, container

Bump caffeine from v3.1.6 to 3.1.6
  pom.xml
Due: build, container

Bump flyway-core from 9.14.1 to 9.16.3
  pom.xml
Due: build, container

Bump jda.version 5.0.0-beta.5 to 5.0.0-beta.8
  pom.xml
Due: build, container

Fix import for Route class
  src/main/kotlin/tech/gdragon/BotUtils.kt
Due: build, container
