Repository guacamoledragon/throw-voice: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, container, pages

.gitlab-ci.yml:

cache: &global_cache
  paths:
    - .m2/repository

variables:
  BOT_VERSION: 2.9.8
  MAVEN_OPTS: --batch-mode -Dmaven.repo.local=.m2/repository

build:
  image: maven:3.8-jdk-11
  only:
    changes: &code-changes
      - Dockerfile
      - pom.xml
      - src/main/**/*
  script:
    - mvn $MAVEN_OPTS de.qaware.maven:go-offline-maven-plugin:resolve-dependencies
    - mvn $MAVEN_OPTS test
  stage: build

container:
  image: docker:20.10.1
  cache: {}
  rules:
    - if: $CI_COMMIT_REF_NAME == 'master'
      changes: *code-changes
    - if: $CI_COMMIT_TAG
      changes: *code-changes
  services:
    - docker:20.10.1-dind
  script:
    - '[ -n "$CI_COMMIT_TAG" ] && VERSION=${CI_COMMIT_TAG#"v"} || VERSION=${BOT_VERSION}-${CI_COMMIT_SHORT_SHA}'
    - BUILD_DATE=$(date -u +%FT%TZ)
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - |
      docker build --quiet \
             --cache-from $CI_REGISTRY/pawabot/pawa:latest \
             -t $CI_REGISTRY/pawabot/pawa:${VERSION} \
             --build-arg VCS_REF=${CI_COMMIT_SHORT_SHA} \
             --build-arg BUILD_DATE=${BUILD_DATE} \
             --build-arg VERSION=${VERSION} \
             .
    - '[ -n "$CI_COMMIT_TAG" ] && docker push $CI_REGISTRY/pawabot/pawa:latest || docker push $CI_REGISTRY/pawabot/pawa:${VERSION}'
    - docker tag $CI_REGISTRY/pawabot/pawa:${VERSION} gdragon/throw-voice:${VERSION}
    - docker login -u $DOCKER_LOGIN -p $DOCKER_PASSWORD
    - docker push gdragon/throw-voice:${VERSION}
  stage: deploy
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: /certs

pages:
  artifacts:
    expire_in: 30 days
    paths:
      - public
  cache: {}
  script:
    - cp -r src/site/ public
  stage: deploy
  rules:
    - if: $CI_COMMIT_REF_NAME == 'master'
      changes:
        - CHANGELOG.md
        - src/site/**/*
    - if: $CI_COMMIT_TAG
      changes:
        - CHANGELOG.md
        - src/site/**/*

Simplify fn and only support setting autostop settings on one channel
  src/main/kotlin/tech/gdragon/api/pawa/Pawa.kt
Due: build, container

Add AutoStop translator to list of translators
  src/main/kotlin/tech/gdragon/i18n/Lang.kt
Due: build, container

Create slash command data for AutoStop
  src/main/kotlin/tech/gdragon/commands/settings/AutoStop.kt
Due: build, container

Simplify AutoStop logic by using Pawa's method autoStopChannel
  src/main/kotlin/tech/gdragon/commands/settings/AutoStop.kt
Due: build, container

Add AutoStop slash commands to Slash#add
  src/main/kotlin/tech/gdragon/commands/slash/Slash.kt
Due: build, container

Implement AutoStop slash command handler
  src/main/kotlin/tech/gdragon/discord/Bot.kt
Due: build, container

Remove unused method: updateChannelAutoStop
  src/main/kotlin/tech/gdragon/commands/settings/AutoStop.kt
Due: build, container

Update CHANGELOG
  CHANGELOG.md
Due: pages

Update documentation to include new slash commands
  src/site/commands.md
Due: pages

AutoStop.command doesn't need to be lazy
  src/main/kotlin/tech/gdragon/commands/settings/AutoStop.kt
Due: build, container

Add ability to toggle the autoSave table property to Pawa API
  src/main/kotlin/tech/gdragon/api/pawa/Pawa.kt
Due: build, container

Babel provides AutoSave translator
  src/main/kotlin/tech/gdragon/i18n/Lang.kt
Due: build, container

Implement AutoSave slash command
  src/main/kotlin/tech/gdragon/commands/settings/AutoSave.kt
  src/main/kotlin/tech/gdragon/commands/slash/Slash.kt
  src/main/kotlin/tech/gdragon/discord/Bot.kt
Due: build, container

Add Ignore translator to Babel
  src/main/kotlin/tech/gdragon/i18n/Lang.kt
Due: build, container

Track ignored users per session in Pawa API
  src/main/kotlin/tech/gdragon/api/pawa/Pawa.kt
Due: build, container

Refactor Ignore action method into Ignore.handler
  src/main/kotlin/tech/gdragon/commands/settings/Ignore.kt
  src/main/kotlin/tech/gdragon/listener/CombinedAudioRecorderHandler.kt
Due: build, container

Add Slash translations, can only do Lang.EN right now
  src/main/kotlin/tech/gdragon/commands/settings/Ignore.kt
  src/main/kotlin/tech/gdragon/i18n/Lang.kt
  src/main/resources/translations.properties
Due: build, container

Add /ignore handler and register
  src/main/kotlin/tech/gdragon/commands/settings/Ignore.kt
  src/main/kotlin/tech/gdragon/commands/slash/Slash.kt
  src/main/kotlin/tech/gdragon/discord/Bot.kt
Due: build, container

Add tracer object to CommandHandler.Companion
  src/main/kotlin/tech/gdragon/commands/CommandHandler.kt
Due: build, container

Register command listener in the Command.Companion file
  src/main/kotlin/tech/gdragon/commands/settings/Ignore.kt
  src/main/kotlin/tech/gdragon/discord/Bot.kt
Due: build, container

Revert registering in the Command class
  src/main/kotlin/tech/gdragon/commands/settings/Ignore.kt
  src/main/kotlin/tech/gdragon/discord/Bot.kt
Due: build, container

Add setLocale method to Pawa API
  src/main/kotlin/tech/gdragon/api/pawa/Pawa.kt
Due: build, container

Implement Lang slash command
  src/main/kotlin/tech/gdragon/commands/settings/Language.kt
  src/main/kotlin/tech/gdragon/commands/slash/Slash.kt
  src/main/kotlin/tech/gdragon/discord/Bot.kt
Due: build, container

Delay enabling EventListeners until all shards have connected to Discord
  src/main/kotlin/tech/gdragon/discord/Bot.kt
Due: build, container

Update commands documentation page
  src/site/commands.md
Due: pages

Move EventListener.onReady logic to the Bot's constructor
  src/main/kotlin/tech/gdragon/discord/Bot.kt
  src/main/kotlin/tech/gdragon/listener/EventListener.kt
Due: build, container

Add recipes to recover mp3 or queue file from server
  justfile
Due: none

Add db migration to add Applications table
  sql/postgres/V20221112172404__add-applications-table.sql
Due: none

Explicitly mention which host the REPL will bind to
  src/main/kotlin/tech/gdragon/repl/REPL.kt
Due: build, container

Update repl.clj example, since bot is delayed
  src/main/clojure/repl.clj
Due: build, container

Add ORM for the Applications table, and insert into DB if missing
  src/main/kotlin/tech/gdragon/db/dao/DataAccessObject.kt
  src/main/kotlin/tech/gdragon/db/table/Tables.kt
  src/main/kotlin/tech/gdragon/discord/Bot.kt
Due: build, container

Rename groupId com.github.{MinnDevelopment,minndevelopment}
  pom.xml
Due: build, container

Rename db -> pg
  justfile
Due: none

Rename postgres-pf -> pg-port-forward match naming convention
  justfile
Due: none

Rearrange recipes alphabetically
  justfile
Due: none

Add migration to create an applications table for H2
  src/main/resources/h2/V20221113094430__add-applications-table.sql
Due: build, container

Increase sleep from 500 -> 1000
  src/main/kotlin/tech/gdragon/discord/Bot.kt
Due: build, container
