Repository guacamoledragon/throw-voice: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dependencies, test, container, coverage, pages

dependencies:
  image: maven:3.8.6-eclipse-temurin-17-alpine
  script:
  - mvn --batch-mode de.qaware.maven:go-offline-maven-plugin:resolve-dependencies
  stage: .pre

test:
  image: maven:3.8.6-eclipse-temurin-17-alpine
  services:
  - name: docker:20.10.17-dind
    command:
    - --tls=false
  script:
  - mvn --batch-mode org.jacoco:jacoco-maven-plugin:prepare-agent test org.jacoco:jacoco-maven-plugin:report
  ...

container:
  image: docker:20.10.17
  cache: {}
  services:
  - docker:20.10.17-dind
  script:
  - '[ -n "$CI_COMMIT_TAG" ] && VERSION=${CI_COMMIT_TAG#"v"} || VERSION=${BOT_VERSION}-${CI_COMMIT_SHORT_SHA}'
  - BUILD_DATE=$(date -u +%FT%TZ)
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  ...

coverage:
  image: registry.gitlab.com/haynes/jacoco2cobertura:1.0.9
  cache: {}
  script:
  - python /opt/cover2cover.py target/site/jacoco/jacoco.xml $CI_PROJECT_DIR/src/main/kotlin/ > target/site/cobertura.xml
  artifacts:
    reports:
      coverage_report:
        coverage_format: cobertura
  ...

pages:
  artifacts:
    expire_in: 30 days
    paths:
    - public
  cache: {}
  script:
  - cp -r src/site/ public
  stage: deploy

Update Maven builder image from 3.8.6 -> 3.9.1
  Dockerfile
Due: dependencies, test, container, coverage

Add file-local variable to set image name for docker.el
  Dockerfile
Due: dependencies, test, container, coverage

Set VERSION to `dev` if it isn't provided
  Dockerfile
Due: dependencies, test, container, coverage

Change order of Docker build stages
  Dockerfile
Due: dependencies, test, container, coverage

Build bbc/audiowaveform binary and include in final stage
  Dockerfile
Due: dependencies, test, container, coverage

Update java17 distroless image, and use the explicit debian11 tag
  Dockerfile
Due: dependencies, test, container, coverage

:bug: FROM statement was commented
  Dockerfile
Due: dependencies, test, container, coverage

Add minio-start justfile recipe
  justfile
Due: none

Add IntelliJ's Run configuration for running the application
  .run/App.run.xml
Due: none

Bump jda.version 5.0.0-beta.8 to 5.0.0-beta.9
  pom.xml
Due: dependencies, test, container, coverage

Increase recording limit 110MB -> 256MB
  src/main/kotlin/tech/gdragon/listener/CombinedAudioRecorderHandler.kt
Due: dependencies, test, container, coverage

Add recover commands page
  src/site/commands.md
  src/site/commands/slash/recover.md
Due: pages

Add VM_PARAMETERS to App run configuration
  .run/App.run.xml
Due: none

Revert "Skip member check of the bot, and leave via RestAction"
  src/main/kotlin/tech/gdragon/BotUtils.kt
Due: dependencies, test, container, coverage

Bump jda.version 5.0.0-beta.9 to 5.0.0-beta.10
  pom.xml
Due: dependencies, test, container, coverage

Add aws.sdk.kotlin:s3 dependency
  pom.xml
Due: dependencies, test, container, coverage

Replace RemoteDatastore with S3Datastore
  src/main/kotlin/tech/gdragon/App.kt
  src/main/kotlin/tech/gdragon/data/Datastore.kt
Due: dependencies, test, container, coverage

Obtain guildId from the recording record when recovering recording
  src/main/kotlin/tech/gdragon/api/pawa/Pawa.kt
  src/main/kotlin/tech/gdragon/commands/slash/Recover.kt
  src/test/kotlin/tech/gdragon/api/pawa/PawaTest.kt
Due: dependencies, test, container, coverage

Bump jda.version 5.0.0-beta.10 to 5.0.0-beta.12
  pom.xml
Due: dependencies, test, container, coverage

Formatting
  src/main/kotlin/tech/gdragon/discord/message/RecordingReply.kt
Due: dependencies, test, container, coverage

Don't set url in embed when recording.url is a file path
  src/main/kotlin/tech/gdragon/discord/message/RecordingReply.kt
Due: dependencies, test, container, coverage

Update messaging on /recover command for unsupported Guilds
  src/main/kotlin/tech/gdragon/commands/slash/Recover.kt
Due: dependencies, test, container, coverage

Add migration to create index for recordings.created_on
  sql/postgres/V20230719172526__add-index-for-recordings-created_on.sql
Due: dependencies, test, container, coverage

Finished all translations in "translations_fr.properties"
  src/main/resources/translations_fr.properties
Due: dependencies, test, container, coverage

Update translations_vi.properties (POEditor.com)
  src/main/resources/translations_vi.properties
Due: dependencies, test, container, coverage

Update the translations completeness table
  src/site/translations.md
Due: pages

Bump jda.version 5.0.0-beta.12 to 5.0.0-beta.13
  pom.xml
Due: dependencies, test, container, coverage

Use streaming file upload as specified in changelog
  src/main/kotlin/tech/gdragon/BotUtils.kt
Due: dependencies, test, container, coverage

Ignore dev*.properties files
  .gitignore
Due: none

Update minio version in justfile
  justfile
Due: none

Add different run configurations for IntelliJ
  .run/App (Standalone).run.xml
  .run/App Dev (local-s3).run.xml
  .run/App Dev (remote-s3).run.xml
  .run/App Prod (remote-s3).run.xml
Due: none

Add missing Exposed import to TestApp
  src/dev/kotlin/tech/gdragon/TestApp.kt
Due: none

Update S3Datastore constructor to require auth
  src/main/kotlin/tech/gdragon/App.kt
  src/main/kotlin/tech/gdragon/data/Datastore.kt
Due: dependencies, test, container, coverage

Remove RemoteDatastore and minio pom dependency
  pom.xml
  src/main/kotlin/tech/gdragon/data/Datastore.kt
Due: dependencies, test, container, coverage

Add Datastore#shutdown to close connections
  src/main/kotlin/tech/gdragon/App.kt
  src/main/kotlin/tech/gdragon/data/Datastore.kt
Due: dependencies, test, container, coverage

Replace Maps.fromProperties with local fn
  src/main/kotlin/tech/gdragon/koin/KoinApplicationEx.kt
Due: dependencies, test, container, coverage

Remove datastore from datastore from docker-compose
  docker-compose.yml
Due: none

Update CHANGELOG
  CHANGELOG.md
Due: pages

Add testing harness for Datastore
  src/dev/kotlin/tech/gdragon/data/Datastore.kt
Due: none

Ignore prod.properties file
  .gitignore
Due: none

Path conditions:
  dependencies: any of: Dockerfile, pom.xml, src/main/**/*, src/test/**/*, sql/**/*
  test: any of: Dockerfile, pom.xml, src/main/**/*, src/test/**/*, sql/**/*
  container: any of: Dockerfile, pom.xml, src/main/**/*, src/test/**/*, sql/**/*
  coverage: any of: Dockerfile, pom.xml, src/main/**/*, src/test/**/*, sql/**/*
  pages: any of: CHANGELOG.md, src/site/**/*
