Repository guacamoledragon/throw-voice: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, container, pages

build:
  image: maven:3.8-jdk-11
  script:
  - mvn $MAVEN_OPTS de.qaware.maven:go-offline-maven-plugin:resolve-dependencies
  - mvn $MAVEN_OPTS test
  stage: build

container:
  image: docker:20.10.1
  cache: {}
  services:
  - docker:20.10.1-dind
  script:
  - '[ -n "$CI_COMMIT_TAG" ] && VERSION=${CI_COMMIT_TAG#"v"} || VERSION=${BOT_VERSION}-${CI_COMMIT_SHORT_SHA}'
  - BUILD_DATE=$(date -u +%FT%TZ)
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  ...

pages:
  artifacts:
    expire_in: 30 days
    paths:
    - public
  cache: {}
  script:
  - cp -r src/site/ public
  stage: deploy

Fix MAVEN_OPTS, --batch-mode is not a valid option
  .gitlab-ci.yml
Due: none

Move embedded-database to EmbeddedDatabase class
  src/dev/kotlin/tech/gdragon/h2/RunScript.kt
  src/dev/kotlin/tech/gdragon/h2/Script.kt
  src/main/kotlin/tech/gdragon/App.kt
  src/main/kotlin/tech/gdragon/db/Database.kt
Due: build, container

Create H2 backup script
  pom.xml
  src/dev/kotlin/tech/gdragon/h2/Script.kt
Due: build, container

Pause before exiting Script
  src/dev/kotlin/tech/gdragon/h2/Script.kt
Due: none

Only package h2 and kotlin dependencies
  pom.xml
Due: build, container

Create H2 restore script
  pom.xml
  src/dev/kotlin/tech/gdragon/h2/RunScript.kt
Due: build, container

Add launch4j scripts for H2 scripts
  h2-runscript.xml
  h2-script.xml
Due: none

Add justfile, no need to remember CLI commands
  justfile
Due: none

Add .jabbarc prevents wrong JDK
  .jabbarc
Due: none

Update version of pawa in launch4j
  launch4j.xml
Due: none

:flag_ph: Add support for Filipino language
  src/main/kotlin/tech/gdragon/i18n/Lang.kt
  src/main/resources/translations_fil.properties
  src/site/translations.md
Due: build, container, pages

Update CHANGELOG
  CHANGELOG.md
Due: pages

Move Record and Stop commands to appropriate package
  src/main/kotlin/tech/gdragon/commands/audio/Record.kt
  src/main/kotlin/tech/gdragon/commands/audio/Stop.kt
  src/main/kotlin/tech/gdragon/discord/Bot.kt
Due: build, container

Use correct invite URL, this has the application scope
  src/main/kotlin/tech/gdragon/App.kt
  src/main/kotlin/tech/gdragon/commands/slash/Slash.kt
Due: build, container

Remove require for jvm-breakglass no longer used
  src/main/clojure/tech/gdragon/commands/slash.clj
Due: build, container

Remove magic number, allow trigoman's Discord ID
  src/main/kotlin/tech/gdragon/BotUtils.kt
  src/main/kotlin/tech/gdragon/commands/debug/Status.kt
Due: build, container

Add first draft of Slash command to manage Slash commands
  src/main/kotlin/tech/gdragon/commands/slash/Slash.kt
  src/main/kotlin/tech/gdragon/discord/Bot.kt
Due: build, container

Create sendMessage fn with pre-defined channel
  src/main/kotlin/tech/gdragon/commands/slash/Slash.kt
Due: build, container

Set trigoman as const
  src/main/kotlin/tech/gdragon/BotUtils.kt
Due: build, container

Skip uploadRecording if queue->mp3 fails
  src/main/kotlin/tech/gdragon/listener/CombinedAudioRecorderHandler.kt
Due: build, container

HACK: don't delete queue file if mp3 is empty
  src/main/kotlin/tech/gdragon/listener/CombinedAudioRecorderHandler.kt
Due: build, container

Send a message, letting the member know the recording failed
  src/main/kotlin/tech/gdragon/listener/CombinedAudioRecorderHandler.kt
Due: build, container

Update minio version
  docker-compose.yml
  src/assembly/docker-compose.yml
Due: none

Add sessionId to log pattern
  src/main/resources/log4j2-prod.xml
Due: build, container

Add support for Polish
  CHANGELOG.md
  src/main/kotlin/tech/gdragon/i18n/Lang.kt
  src/main/resources/translations_pl.properties
  src/site/translations.md
Due: build, container, pages

Add support for Hungarian
  CHANGELOG.md
  src/main/kotlin/tech/gdragon/i18n/Lang.kt
  src/main/resources/translations.properties
  src/main/resources/translations_hu.properties
  src/site/translations.md
Due: build, container, pages

Add just recipe for starting pg remote connection
  justfile
Due: none

Add JsonTemplateLayout dependency and format
  pom.xml
  src/main/resources/log4j2-prod.xml
Due: build, container

Add flags to configure logging on postgres
  docker-compose.yml
Due: none

Add honeytail configuration for the app and db
  honeytail/app.conf
  honeytail/db.conf
Due: none

Change default logging level DEBUG -> INFO
  src/main/resources/log4j2-prod.xml
Due: build, container

Download and use Honeycomb's OTEL agent
  Dockerfile
Due: build, container

Add honeycomb OTEL configuration
  docker-compose.yml
Due: none

Add honeycomb-opentelemetry-sdk dependency
  pom.xml
Due: build, container

Add span for handling a command
  src/main/kotlin/tech/gdragon/App.kt
  src/main/kotlin/tech/gdragon/listener/EventListener.kt
Due: build, container

Add command name to handle command Span
  src/main/kotlin/tech/gdragon/commands/CommandHandler.kt
Due: build, container

Add Tracer to koin instead of OpenTelemetry
  src/main/kotlin/tech/gdragon/App.kt
Due: build, container

Decorate helper fns with @WithSpan to describe traces
  src/main/kotlin/tech/gdragon/BotUtils.kt
Due: build, container

Path conditions:
  build: any of: Dockerfile, pom.xml, src/main/**/*
  container: any of: Dockerfile, pom.xml, src/main/**/*
  pages: any of: CHANGELOG.md, src/site/**/*
