Repository guacamoledragon/throw-voice: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dependencies, test, container, coverage, pages

.gitlab-ci.yml:

cache: &global_cache
  paths:
    - .m2/repository

default:
  tags:
    - pawa

variables:
  DOCKER_DEFAULT_PLATFORM: linux/amd64
  BOT_VERSION: 2.11.0
  MAVEN_OPTS: -Dmaven.repo.local=.m2/repository

dependencies:
  image: maven:3.8.6-eclipse-temurin-17-alpine
  only:
    changes: &code-changes
      - Dockerfile
      - pom.xml
      - src/main/**/*
      - src/test/**/*
      - sql/**/*
  script:
    - mvn --batch-mode de.qaware.maven:go-offline-maven-plugin:resolve-dependencies
  stage: .pre

test:
  image: maven:3.8.6-eclipse-temurin-17-alpine
  only:
    changes: *code-changes
  services:
    - name: docker:20.10.17-dind
      command: [ "--tls=false" ]
  script:
    - mvn --batch-mode org.jacoco:jacoco-maven-plugin:prepare-agent test org.jacoco:jacoco-maven-plugin:report
    - awk -F"," '{ instructions += $4 + $5; covered += $5 } END { print "Total", 100*covered/instructions, "%" }' target/site/jacoco/jacoco.csv
  coverage: '/Total (\d+.\d+) %/'
  variables:
    TESTCONTAINERS_HOST_OVERRIDE: "host.docker.internal"
    # Instruct Testcontainers to use the daemon of DinD, use port 2735 for non-tls connections.
    DOCKER_HOST: "tcp://docker:2375"
    # Instruct Docker not to start over TLS.
    DOCKER_TLS_CERTDIR: ""
    # Improve performance with overlayfs.
    DOCKER_DRIVER: overlay2
  artifacts:
    paths:
      - target/site/jacoco/jacoco.xml
  stage: test

container:
  image: docker:20.10.17
  cache: {}
  rules:
    - if: $CI_COMMIT_REF_NAME == 'master'
      changes: *code-changes
    - if: $CI_COMMIT_TAG
      changes: *code-changes
  services:
    - docker:20.10.17-dind
  script:
    - '[ -n "$CI_COMMIT_TAG" ] && VERSION=${CI_COMMIT_TAG#"v"} || VERSION=${BOT_VERSION}-${CI_COMMIT_SHORT_SHA}'
    - BUILD_DATE=$(date -u +%FT%TZ)
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - |
      docker build --quiet \
             --cache-from $CI_REGISTRY/pawabot/pawa:latest \
             -t $CI_REGISTRY/pawabot/pawa:${VERSION} \
             --build-arg VCS_REF=${CI_COMMIT_SHORT_SHA} \
             --build-arg BUILD_DATE=${BUILD_DATE} \
             --build-arg VERSION=${VERSION} \
             .
    - '[ -n "$CI_COMMIT_TAG" ] && docker push $CI_REGISTRY/pawabot/pawa:latest || docker push $CI_REGISTRY/pawabot/pawa:${VERSION}'
    - docker tag $CI_REGISTRY/pawabot/pawa:${VERSION} gdragon/throw-voice:${VERSION}
    - docker login -u $DOCKER_LOGIN -p $DOCKER_PASSWORD
    - docker push gdragon/throw-voice:${VERSION}
  stage: deploy
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: /certs

coverage:
  image: registry.gitlab.com/haynes/jacoco2cobertura:1.0.9
  cache: {}
  only:
    changes: *code-changes
  script:
    # convert report from jacoco to cobertura, using relative project path
    - python /opt/cover2cover.py target/site/jacoco/jacoco.xml $CI_PROJECT_DIR/src/main/kotlin/ > target/site/cobertura.xml
  artifacts:
    reports:
      coverage_report:
        coverage_format: cobertura
        path: target/site/cobertura.xml
  stage: deploy

pages:
  artifacts:
    expire_in: 30 days
    paths:
      - public
  cache: {}
  script:
    - cp -r src/site/ public
  stage: deploy
  rules:
    - if: $CI_COMMIT_REF_NAME == 'master'
      changes:
        - CHANGELOG.md
        - src/site/**/*
    - if: $CI_COMMIT_TAG
      changes:
        - CHANGELOG.md
        - src/site/**/*

Remove audiowaveform image, this should be in the app's image
  Dockerfile
Due: dependencies, test, container, coverage

Remove "Simple" from the description
  Dockerfile
  README.md
  pom.xml
  src/site/README.md
  src/site/docker-hub.md
  src/site/index.html
Due: dependencies, test, container, coverage, pages

Remove HONEYCOMB_API_KEY variable it's deprecated
  docker-compose.yml
Due: none

Remove OTEL_JAVAAGENT_ENABLED we want to enable it
  docker-compose.yml
Due: none

Add otel-collector service to docker-compose.yaml
  docker-compose.yml
Due: none

Configure Exposed to not preserve keyword casing
  src/main/kotlin/tech/gdragon/db/Database.kt
Due: dependencies, test, container, coverage

Remove EventTracer
  src/main/kotlin/tech/gdragon/App.kt
  src/main/kotlin/tech/gdragon/commands/CommandHandler.kt
  src/main/kotlin/tech/gdragon/discord/Bot.kt
  src/main/kotlin/tech/gdragon/listener/EventListener.kt
  src/main/kotlin/tech/gdragon/metrics/EventTracer.kt
Due: dependencies, test, container, coverage

Set the OTEL configuration directly on the Java process
  docker-compose.yml
Due: none

Bump opentelemetry-instrumentation-annotations from 2.1.0 -> 2.2.0
  pom.xml
Due: dependencies, test, container, coverage

Add opentelemetry-jdbc dependency
  pom.xml
Due: dependencies, test, container, coverage

Add OTEL instrumentation to the PostgresQL connection
  src/main/kotlin/tech/gdragon/db/Database.kt
Due: dependencies, test, container, coverage

Change apply -> also to prevent variable shadowing
  src/main/kotlin/tech/gdragon/db/Database.kt
Due: dependencies, test, container, coverage

Update version in gitlab-ci.yml
  .gitlab-ci.yml
Due: none

Remove global_cache unused
  .gitlab-ci.yml
Due: none

Update CHANGELOG
  CHANGELOG.md
Due: pages

Configure Exposed to not preserve keyword casing
  src/main/kotlin/tech/gdragon/listener/AudioRecordingBehaviour.kt
  src/main/kotlin/tech/gdragon/listener/LocalAudioRecorder.kt
Due: dependencies, test, container, coverage

Allow LocalDatastore to overwrite files
  src/main/kotlin/tech/gdragon/data/Datastore.kt
Due: dependencies, test, container, coverage

Add which-shard fn to obtain Shard by Guild ID
  src/main/clojure/repl.clj
Due: dependencies, test, container, coverage

Remove this class will be added in a different change
  src/main/kotlin/tech/gdragon/listener/AudioRecordingBehaviour.kt
Due: dependencies, test, container, coverage

Change default for appUrl to discord://
  src/main/kotlin/tech/gdragon/api/pawa/PawaConfig.kt
  src/main/kotlin/tech/gdragon/commands/debug/Test.kt
Due: dependencies, test, container, coverage

Show ??? for durations that are 0, that usually means unknown
  src/main/kotlin/tech/gdragon/discord/message/RecordingReply.kt
Due: dependencies, test, container, coverage

Format Created On in a more user friendly way
  src/main/kotlin/tech/gdragon/discord/message/RecordingReply.kt
Due: dependencies, test, container, coverage

Show recording URL only when it's a local file
  src/main/kotlin/tech/gdragon/discord/message/RecordingReply.kt
Due: dependencies, test, container, coverage

Disable View Recording button if appBaseUrl is not a link
  src/main/kotlin/tech/gdragon/discord/message/RecordingReply.kt
Due: dependencies, test, container, coverage

Change message title Session ID: <sessionId>
  src/main/kotlin/tech/gdragon/discord/message/RecordingReply.kt
Due: dependencies, test, container, coverage

Get appUrl from Pawa's config
  src/main/kotlin/tech/gdragon/commands/slash/Recover.kt
Due: dependencies, test, container, coverage

Recover command responses are ephemeral
  src/main/kotlin/tech/gdragon/commands/slash/Recover.kt
Due: dependencies, test, container, coverage

Attempt to recover recording even if URL is present
  src/main/kotlin/tech/gdragon/api/pawa/Pawa.kt
Due: dependencies, test, container, coverage

Use pawa's config to get appUrl
  src/main/kotlin/tech/gdragon/listener/EventListener.kt
Due: dependencies, test, container, coverage

Add !test command to run common scenarios automatically
  src/main/kotlin/tech/gdragon/commands/debug/Test.kt
  src/main/kotlin/tech/gdragon/discord/Bot.kt
Due: dependencies, test, container, coverage

Update recoverRecording tests
  src/main/kotlin/tech/gdragon/api/pawa/Pawa.kt
  src/test/kotlin/tech/gdragon/api/pawa/PawaTest.kt
Due: dependencies, test, container, coverage

Add missing appUrl to PawaConfig
  src/main/kotlin/tech/gdragon/api/pawa/Pawa.kt
Due: dependencies, test, container, coverage

Bug: Standalone mode wont start if APP_URL is missing
  src/main/kotlin/tech/gdragon/api/pawa/Pawa.kt
  src/main/kotlin/tech/gdragon/api/pawa/PawaConfig.kt
Due: dependencies, test, container, coverage

Ignore TEST command in Help
  src/main/kotlin/tech/gdragon/commands/misc/Help.kt
  src/main/kotlin/tech/gdragon/i18n/Lang.kt
  src/main/resources/translations.properties
Due: dependencies, test, container, coverage

Calculate recording duration using audio counter
  src/main/kotlin/tech/gdragon/db/dao/DataAccessObject.kt
  src/main/kotlin/tech/gdragon/discord/message/RecordingReply.kt
  src/main/kotlin/tech/gdragon/listener/CombinedAudioRecorderHandler.kt
Due: dependencies, test, container, coverage

Remove pseudoDuration method, tracking real duration now
  src/main/kotlin/tech/gdragon/db/dao/DataAccessObject.kt
Due: dependencies, test, container, coverage

Bump aws.sdk.kotlin:s3-jvm from 1.0.73 to 1.1.13
  pom.xml
Due: dependencies, test, container, coverage

Bump com.fasterxml.jackson.core:jackson-databind from 2.16.1 to 2.17.0
  pom.xml
Due: dependencies, test, container, coverage

Bump commons-io:commons-io from 2.15.1 to 2.16.0
  pom.xml
Due: dependencies, test, container, coverage
