Repository guacamoledragon/throw-voice: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, container, pages

build:
  image: maven:3.8-jdk-11
  script:
  - mvn $MAVEN_OPTS de.qaware.maven:go-offline-maven-plugin:resolve-dependencies
  - mvn $MAVEN_OPTS test
  stage: build

container:
  image: docker:20.10.1
  cache: {}
  services:
  - docker:20.10.1-dind
  script:
  - '[ -n "$CI_COMMIT_TAG" ] && VERSION=${CI_COMMIT_TAG#"v"} || VERSION=${BOT_VERSION}-${CI_COMMIT_SHORT_SHA}'
  - BUILD_DATE=$(date -u +%FT%TZ)
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  ...

pages:
  artifacts:
    expire_in: 30 days
    paths:
    - public
  cache: {}
  script:
  - cp -r src/site/ public
  stage: deploy

Add EmbeddedDatabaseTest
  src/test/kotlin/tech/gdragon/db/EmbeddedDatabaseTest.kt
Due: none

Add testcontainers test dependency
  pom.xml
Due: build, container

Add RemoteDatabaseTest
  src/test/kotlin/tech/gdragon/db/RemoteDatabaseTest.kt
Due: none

Add Docker service to build pipeline
  .gitlab-ci.yml
Due: none

Apply configuration from the Testcontainers documentation
  .gitlab-ci.yml
Due: none

Remove individual tests and combine into a factory test
  src/test/kotlin/tech/gdragon/db/DatabaseTest.kt
  src/test/kotlin/tech/gdragon/db/EmbeddedDatabaseTest.kt
  src/test/kotlin/tech/gdragon/db/RemoteDatabaseTest.kt
Due: none

Change RemoteDatabase signature, expect a URL as argument
  src/main/kotlin/tech/gdragon/db/Database.kt
Due: build, container

Update PawaTest to support H2 and Postgres test permutations
  src/test/kotlin/tech/gdragon/api/pawa/PawaTest.kt
Due: none

Add IntelliJ run profile to run all tests using kotest
  .run/All Tests.run.xml
Due: none

Update CHANGELOG
  CHANGELOG.md
Due: pages

Update maven-surefire-plugin 2.22.2 -> 3.0.0-M8
  pom.xml
Due: build, container

Skip tests during package step in Dockerfile
  Dockerfile
Due: build, container

Remove Kotlin compiler options
  pom.xml
Due: build, container

Ignore DS_Store files
  .gitignore
Due: none

Add unjoined_on column to guilds table
  sql/postgres/V20230128172404__add-column-unjoined-on.sql
  src/main/resources/h2/V20230128172404__add-column-unjoined-on.sql
Due: build, container

Map unjoined_on column to Guilds.unjoinedOn
  src/main/kotlin/tech/gdragon/db/dao/DataAccessObject.kt
  src/main/kotlin/tech/gdragon/db/table/Tables.kt
Due: build, container

Set Guilds.unjoinedOn when a Guild leaves
  src/main/kotlin/tech/gdragon/listener/EventListener.kt
Due: build, container

Split build job into dependencies and test
  .gitlab-ci.yml
Due: none

Add coverage job
  .gitlab-ci.yml
Due: none

Add coverage percentage information
  .gitlab-ci.yml
Due: none

Change stage deploy -> build for coverage job
  .gitlab-ci.yml
Due: none

Remove needs and only run coverage job if source is modified
  .gitlab-ci.yml
Due: none

Add db migration to rename guilds.{created_on, joined_on}
  sql/postgres/V20230209182638__rename-created-on-to-joined-on.sql
  src/main/resources/h2/V20230209184449__rename-created-on-to-joined-on.sql
Due: build, container

Update code to support renamed column
  src/main/kotlin/tech/gdragon/commands/slash/Info.kt
  src/main/kotlin/tech/gdragon/db/dao/DataAccessObject.kt
  src/main/kotlin/tech/gdragon/db/table/Tables.kt
Due: build, container

Always show the appUrl link
  src/main/kotlin/tech/gdragon/listener/CombinedAudioRecorderHandler.kt
Due: build, container

Bump version JDA 5.0.0-beta.2 -> 5.0.0-beta.4
  pom.xml
Due: build, container

Give shards 10 seconds to cleanup before shutting them down
  src/main/kotlin/tech/gdragon/discord/Bot.kt
Due: build, container

Add stub for recover slash command
  src/main/kotlin/tech/gdragon/commands/slash/Recover.kt
  src/main/kotlin/tech/gdragon/discord/Bot.kt
Due: build, container

Create stub method recoverRecording in Pawa class
  src/main/kotlin/tech/gdragon/api/pawa/Pawa.kt
Due: build, container

Use Pawa#recoverRecording in Recover command
  src/main/kotlin/tech/gdragon/commands/slash/Recover.kt
Due: build, container

Restore maven-compiler-plugin and set release version to 17
  pom.xml
Due: build, container

Add recoverRecording method to Pawa class to restore a lost recording
  src/main/kotlin/tech/gdragon/api/pawa/Pawa.kt
  src/main/kotlin/tech/gdragon/api/tape/Utils.kt
Due: build, container

Use updateCommands helper from jda-ktx
  src/main/kotlin/tech/gdragon/discord/Bot.kt
Due: build, container

Formatting
  src/main/kotlin/tech/gdragon/listener/CombinedAudioRecorderHandler.kt
Due: build, container

Add modal class for request access to a command
  src/main/kotlin/tech/gdragon/discord/message/RequestAccessModal.kt
Due: build, container

Add pseudoDuration method to Recording DAO to obtain approx duration
  src/main/kotlin/tech/gdragon/db/dao/DataAccessObject.kt
Due: build, container

Implement Recover command
  src/main/kotlin/tech/gdragon/commands/slash/Recover.kt
  src/main/kotlin/tech/gdragon/listener/EventListener.kt
Due: build, container

Add helper method to find Recording IDs matching a pattern
  src/main/kotlin/tech/gdragon/db/dao/DataAccessObject.kt
Due: build, container

Expect caller to wrap findIdLike with transaction
  src/main/kotlin/tech/gdragon/db/dao/DataAccessObject.kt
  src/main/kotlin/tech/gdragon/listener/EventListener.kt
Due: build, container

Only recover if there's an entry in database
  src/main/kotlin/tech/gdragon/api/pawa/Pawa.kt
Due: build, container

Path conditions:
  build: any of: Dockerfile, pom.xml, src/main/**/*
  container: any of: Dockerfile, pom.xml, src/main/**/*
  pages: any of: CHANGELOG.md, src/site/**/*
