Repository guacamoledragon/throw-voice: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dependencies, test, container, coverage, pages

.gitlab-ci.yml:

cache: &global_cache
  paths:
    - .m2/repository

default:
  tags:
    - pawa

variables:
  DOCKER_DEFAULT_PLATFORM: linux/amd64
  BOT_VERSION: 2.11.0
  MAVEN_OPTS: -Dmaven.repo.local=.m2/repository

dependencies:
  image: maven:3.8.6-eclipse-temurin-17-alpine
  only:
    changes: &code-changes
      - Dockerfile
      - pom.xml
      - src/main/**/*
      - src/test/**/*
      - sql/**/*
  script:
    - mvn --batch-mode de.qaware.maven:go-offline-maven-plugin:resolve-dependencies
  stage: .pre

test:
  image: maven:3.8.6-eclipse-temurin-17-alpine
  only:
    changes: *code-changes
  services:
    - name: docker:20.10.17-dind
      command: [ "--tls=false" ]
  script:
    - mvn --batch-mode org.jacoco:jacoco-maven-plugin:prepare-agent test org.jacoco:jacoco-maven-plugin:report
    - awk -F"," '{ instructions += $4 + $5; covered += $5 } END { print "Total", 100*covered/instructions, "%" }' target/site/jacoco/jacoco.csv
  coverage: '/Total (\d+.\d+) %/'
  variables:
    TESTCONTAINERS_HOST_OVERRIDE: "host.docker.internal"
    # Instruct Testcontainers to use the daemon of DinD, use port 2735 for non-tls connections.
    DOCKER_HOST: "tcp://docker:2375"
    # Instruct Docker not to start over TLS.
    DOCKER_TLS_CERTDIR: ""
    # Improve performance with overlayfs.
    DOCKER_DRIVER: overlay2
  artifacts:
    paths:
      - target/site/jacoco/jacoco.xml
  stage: test

container:
  image: docker:20.10.17
  cache: {}
  rules:
    - if: $CI_COMMIT_REF_NAME == 'master'
      changes: *code-changes
    - if: $CI_COMMIT_TAG
      changes: *code-changes
  services:
    - docker:20.10.17-dind
  script:
    - '[ -n "$CI_COMMIT_TAG" ] && VERSION=${CI_COMMIT_TAG#"v"} || VERSION=${BOT_VERSION}-${CI_COMMIT_SHORT_SHA}'
    - BUILD_DATE=$(date -u +%FT%TZ)
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - |
      docker build --quiet \
             --cache-from $CI_REGISTRY/pawabot/pawa:latest \
             -t $CI_REGISTRY/pawabot/pawa:${VERSION} \
             --build-arg VCS_REF=${CI_COMMIT_SHORT_SHA} \
             --build-arg BUILD_DATE=${BUILD_DATE} \
             --build-arg VERSION=${VERSION} \
             .
    - '[ -n "$CI_COMMIT_TAG" ] && docker push $CI_REGISTRY/pawabot/pawa:latest || docker push $CI_REGISTRY/pawabot/pawa:${VERSION}'
    - docker tag $CI_REGISTRY/pawabot/pawa:${VERSION} gdragon/throw-voice:${VERSION}
    - docker login -u $DOCKER_LOGIN -p $DOCKER_PASSWORD
    - docker push gdragon/throw-voice:${VERSION}
  stage: deploy
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: /certs

coverage:
  image: registry.gitlab.com/haynes/jacoco2cobertura:1.0.9
  cache: {}
  only:
    changes: *code-changes
  script:
    # convert report from jacoco to cobertura, using relative project path
    - python /opt/cover2cover.py target/site/jacoco/jacoco.xml $CI_PROJECT_DIR/src/main/kotlin/ > target/site/cobertura.xml
  artifacts:
    reports:
      coverage_report:
        coverage_format: cobertura
        path: target/site/cobertura.xml
  stage: deploy

pages:
  artifacts:
    expire_in: 30 days
    paths:
      - public
  cache: {}
  script:
    - cp -r src/site/ public
  stage: deploy
  rules:
    - if: $CI_COMMIT_REF_NAME == 'master'
      changes:
        - CHANGELOG.md
        - src/site/**/*
    - if: $CI_COMMIT_TAG
      changes:
        - CHANGELOG.md
        - src/site/**/*

Revert "Bump exposed.version from 0.56.0 to 0.61.0"
  pom.xml
Due: dependencies, test, container, coverage

Bump s3-jvm from 1.3.112 to 1.5.87
  pom.xml
Due: dependencies, test, container, coverage

Remove alpha suffix from all OTEL packages except JDBC
  pom.xml
Due: dependencies, test, container, coverage

Upgrade JDA 5.5.1 → 5.6.1 and jda-ktx 0.12.0 → 0.13.0
  pom.xml
Due: dependencies, test, container, coverage

Bump com.github.ben-manes.caffeine:caffeine from 3.2.0 to 3.2.3
  pom.xml
Due: dependencies, test, container, coverage

Bump io.github.oshai:kotlin-logging-jvm from 7.0.0 to 7.0.13
  pom.xml
Due: dependencies, test, container, coverage

Bump aws.sdk.kotlin:s3-jvm from 1.5.87 to 1.5.88
  pom.xml
Due: dependencies, test, container, coverage

Bump io.opentelemetry:opentelemetry-bom from 1.50.0 to 1.56.0
  pom.xml
Due: dependencies, test, container, coverage

Bump kotlin.version from 2.1.21 to 2.2.21
  pom.xml
Due: dependencies, test, container, coverage

Bump org.testcontainers:testcontainers-bom from 1.21.0 to 2.0.2
  pom.xml
Due: dependencies, test, container, coverage

Update Docker DinD from 20.10.17 to 27 for testcontainers 2.0 compatibility
  .gitlab-ci.yml
Due: none

Fix testcontainers config: use 'docker' instead of 'host.docker.internal' for GitLab CI DinD
  .gitlab-ci.yml
Due: none

Allow test job to run on manual web triggers
  .gitlab-ci.yml
Due: none

Remove DinD for test job
  .gitlab-ci.yml
Due: none

Fix escape sequence
  .gitlab-ci.yml
Due: none

Revert rules -> only
  .gitlab-ci.yml
Due: none

Use host Docker socket instead of DinD for testcontainers
  .gitlab-ci.yml
Due: none

Update jacoco2cobertura image 1.0.9 -> 1.0.11
  .gitlab-ci.yml
Due: none

Revert "Use host Docker socket instead of DinD for testcontainers"
  .gitlab-ci.yml
Due: none

Add mise.toml to manage local java version
  mise.toml
Due: none

Remove DinD service from container stage
  .gitlab-ci.yml
Due: none

Upgrade to Java 25
  Dockerfile
  pom.xml
Due: dependencies, test, container, coverage

Delete .jabbarc
  .jabbarc
Due: none

Upgrade CI to Java 25
  .gitlab-ci.yml
Due: none

Fix Maven cache configuration in CI
  .gitlab-ci.yml
Due: none

Use correct maven version 3.9.9 -> 3.9
  .gitlab-ci.yml
  Dockerfile
Due: dependencies, test, container, coverage

Update maven-compiler-plugin to 3.14.0 for Java 25 support
  pom.xml
Due: dependencies, test, container, coverage

Bump kotlin.version from 2.2.21 to 2.3.0
  pom.xml
Due: dependencies, test, container, coverage

Fix MockK compatibility with Java 25
  pom.xml
  src/main/kotlin/tech/gdragon/api/pawa/Pawa.kt
  src/test/kotlin/tech/gdragon/message/commands/RecoverRecordingCommandTest.kt
Due: dependencies, test, container, coverage

Add byte-buddy 1.17.5 for Java 25 support
  pom.xml
Due: dependencies, test, container, coverage

Simplify
  src/main/kotlin/tech/gdragon/api/pawa/Pawa.kt
  src/test/kotlin/tech/gdragon/message/commands/RecoverRecordingCommandTest.kt
Due: dependencies, test, container, coverage

Release v2.16.0
  .gitlab-ci.yml
  CHANGELOG.md
  justfile
  launch4j.xml
  pom.xml
Due: dependencies, test, container, coverage, pages

Add implementation plan for recover action button
  recover-action.md
Due: none

Add RecordingStartedMessage class with recover button
  src/main/kotlin/tech/gdragon/discord/message/RecordingStartedMessage.kt
Due: dependencies, test, container, coverage

Add button interaction handler for recover action
  src/main/kotlin/tech/gdragon/listener/EventListener.kt
Due: dependencies, test, container, coverage

Update Record.kt to return MessageCreateData with RecordingStartedMessage
  src/main/kotlin/tech/gdragon/api/pawa/Pawa.kt
  src/main/kotlin/tech/gdragon/commands/audio/Record.kt
Due: dependencies, test, container, coverage

Update BotUtils.kt with sendMessage overload and RecordingStartedMessage in autoRecord
  src/main/kotlin/tech/gdragon/BotUtils.kt
Due: dependencies, test, container, coverage

Update implementation notes with completed steps
  recover-action.md
Due: none

Soften recover button: secondary (gray) style, green embed, shorter label
  src/main/kotlin/tech/gdragon/discord/message/RecordingStartedMessage.kt
Due: dependencies, test, container, coverage
