Repository guacamoledragon/throw-voice: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, container, pages

build:
  image: maven:3.8-jdk-11
  script:
  - mvn $MAVEN_OPTS de.qaware.maven:go-offline-maven-plugin:resolve-dependencies
  - mvn $MAVEN_OPTS test
  stage: build

container:
  image: docker:20.10.1
  cache: {}
  services:
  - docker:20.10.1-dind
  script:
  - '[ -n "$CI_COMMIT_TAG" ] && VERSION=${CI_COMMIT_TAG#"v"} || VERSION=${BOT_VERSION}-${CI_COMMIT_SHORT_SHA}'
  - BUILD_DATE=$(date -u +%FT%TZ)
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  ...

pages:
  artifacts:
    expire_in: 30 days
    paths:
    - public
  cache: {}
  script:
  - cp -r src/site/ public
  stage: deploy

Remove extra row from column in vs. MEE6
  src/site/mee6.md
Due: pages

Add video demo for status command
  src/site/commands/status.md
Due: pages

Add video demo for slash command
  src/site/commands/slash.md
Due: pages

Add h2 migration for timestamp with timezone
  src/main/resources/h2/V20220708015055__convert-created_on-to-timestamp-with-time-zone.sql
Due: build, container

Revert version upgrade, we need this to be 1.x.y for this profile
  pom.xml
Due: build, container

Add H2 db migrations for latest release
  src/main/resources/h2/V20220708103851__convert-last_active_on-to-timestamp-with-time-zone.sql.sql
  src/main/resources/h2/V20220708104020__convert-recordings-created_on-to-timestamp-with-time-zone.sql
  src/main/resources/h2/V20220708104233__convert-recordings-modified_on-to-timestamp-with-time-zone.sql
  src/main/resources/h2/V20220708104343__convert-recordings-id-text.sql
Due: build, container

Update OpenTelemetry SDK version
  Dockerfile
Due: build, container

Update Java version 11 LTS -> 17 LTS
  .gitlab-ci.yml
  CHANGELOG.md
  Dockerfile
  pom.xml
Due: build, container, pages

Use correct Java 17 distroless image
  Dockerfile
Due: build, container

Update version in jabbarc to 17
  .jabbarc
Due: none

Update docker image version in gitlab-ci config
  .gitlab-ci.yml
Due: none

Add guild name and text channel name to logging context where missing
  src/main/kotlin/tech/gdragon/BotUtils.kt
  src/main/kotlin/tech/gdragon/listener/CombinedAudioRecorderHandler.kt
  src/main/kotlin/tech/gdragon/listener/EventListener.kt
Due: build, container

Update CHANGELOG
  CHANGELOG.md
Due: pages

Update CHANGELOG and bump version 2.9.8 -> 2.10.0
  .gitlab-ci.yml
  CHANGELOG.md
  pom.xml
Due: build, container, pages

Set up Unreleased template for CHANGELOG
  CHANGELOG.md
  detekt.yaml
Due: pages

Add detekt configuration
  detekt.yaml
Due: none

Update launch4j config for packaging Pawa Lite
  launch4j.xml
Due: none

Add context to logs under CombinedAudioRecorderHandler.saveRecording
  src/main/kotlin/tech/gdragon/listener/CombinedAudioRecorderHandler.kt
Due: build, container

Turn off logging for internal JDA log messages
  src/main/resources/log4j2-prod.xml
Due: build, container

Include guild name in logging context for Help command
  src/main/kotlin/tech/gdragon/commands/CommandHandler.kt
  src/main/kotlin/tech/gdragon/commands/misc/Help.kt
Due: build, container

Wrap uses of getKoin with lazy to defer until needed
  src/main/kotlin/tech/gdragon/commands/CommandHandler.kt
  src/main/kotlin/tech/gdragon/commands/misc/Help.kt
Due: build, container

Remove deprecated bintray repository
  pom.xml
Due: build, container

Add kotest dependency
  pom.xml
Due: build, container

Add findOrCreate fn for Alias DAO
  src/main/kotlin/tech/gdragon/db/dao/DataAccessObject.kt
Due: build, container

Remove AppTest, not testing anything
  src/test/kotlin/AppTest.kt
Due: none

Remove kotlin-test-junit dependency
  pom.xml
Due: build, container

Add kotest-assertions library
  pom.xml
Due: build, container

Create embedded-database path if it doesn't exist
  src/main/kotlin/tech/gdragon/db/Database.kt
Due: build, container

Add Pawa class with initial method and matching test
  src/main/kotlin/tech/gdragon/api/pawa/Pawa.kt
  src/test/kotlin/tech/gdragon/api/pawa/PawaTest.kt
Due: build, container

Update jda-ktx version
  pom.xml
Due: build, container

Register slash commands in Bot and create Info prefix command
  src/main/kotlin/tech/gdragon/commands/slash/Info.kt
  src/main/kotlin/tech/gdragon/discord/Bot.kt
Due: build, container

Complete the Alias slash command including language support
  src/main/kotlin/tech/gdragon/api/pawa/Pawa.kt
  src/main/kotlin/tech/gdragon/commands/settings/Alias.kt
  src/main/kotlin/tech/gdragon/commands/slash/Slash.kt
  src/main/kotlin/tech/gdragon/discord/Bot.kt
Due: build, container

Add type driven fun to retrieve correct translator
  src/main/kotlin/tech/gdragon/api/pawa/Pawa.kt
  src/main/kotlin/tech/gdragon/i18n/Lang.kt
Due: build, container

Use pawa.translator fn instead of retrieving translator ad-hoc
  src/main/kotlin/tech/gdragon/commands/CommandHandler.kt
  src/main/kotlin/tech/gdragon/discord/Bot.kt
Due: build, container

Verify that the ALIAS command cannot be aliased
  src/main/kotlin/tech/gdragon/api/pawa/Pawa.kt
  src/test/kotlin/tech/gdragon/api/pawa/PawaTest.kt
Due: build, container

Pass Pawa object to EventListener and CommandHandler.action
  src/main/kotlin/tech/gdragon/commands/CommandHandler.kt
  src/main/kotlin/tech/gdragon/commands/audio/Clip.kt
  src/main/kotlin/tech/gdragon/commands/audio/Record.kt
  src/main/kotlin/tech/gdragon/commands/audio/Save.kt
  src/main/kotlin/tech/gdragon/commands/audio/Stop.kt
  src/main/kotlin/tech/gdragon/commands/debug/Async.kt
  src/main/kotlin/tech/gdragon/commands/debug/Status.kt
  src/main/kotlin/tech/gdragon/commands/misc/Help.kt
  src/main/kotlin/tech/gdragon/commands/settings/Alias.kt
  src/main/kotlin/tech/gdragon/commands/settings/AutoRecord.kt
  src/main/kotlin/tech/gdragon/commands/settings/AutoSave.kt
  src/main/kotlin/tech/gdragon/commands/settings/AutoStop.kt
  src/main/kotlin/tech/gdragon/commands/settings/Ignore.kt
  src/main/kotlin/tech/gdragon/commands/settings/Language.kt
  src/main/kotlin/tech/gdragon/commands/settings/Prefix.kt
  src/main/kotlin/tech/gdragon/commands/settings/RemoveAlias.kt
  src/main/kotlin/tech/gdragon/commands/settings/SaveLocation.kt
  src/main/kotlin/tech/gdragon/commands/settings/Volume.kt
  src/main/kotlin/tech/gdragon/commands/slash/Info.kt
  src/main/kotlin/tech/gdragon/commands/slash/Slash.kt
  src/main/kotlin/tech/gdragon/discord/Bot.kt
  src/main/kotlin/tech/gdragon/listener/EventListener.kt
Due: build, container

Cleanup action fun, use pawa's createAlias fun
  src/main/kotlin/tech/gdragon/commands/settings/Alias.kt
Due: build, container

Update CHANGELOG
  CHANGELOG.md
  src/main/kotlin/tech/gdragon/discord/Bot.kt
Due: build, container, pages

Add autoStopChannels API call to set autostop threshold
  src/main/kotlin/tech/gdragon/api/pawa/Pawa.kt
  src/main/kotlin/tech/gdragon/db/dao/DataAccessObject.kt
Due: build, container

Update CHANGELOG, fix typo
  CHANGELOG.md
  src/main/kotlin/tech/gdragon/commands/settings/Alias.kt
Due: build, container, pages

Path conditions:
  build: any of: Dockerfile, pom.xml, src/main/**/*
  container: any of: Dockerfile, pom.xml, src/main/**/*
  pages: any of: CHANGELOG.md, src/site/**/*
