Repository guacamoledragon/throw-voice: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, container, pages

build:
  image: maven:3.8-jdk-11
  script:
  - mvn $MAVEN_OPTS de.qaware.maven:go-offline-maven-plugin:resolve-dependencies
  - mvn $MAVEN_OPTS test
  stage: build

container:
  image: docker:20.10.1
  cache: {}
  services:
  - docker:20.10.1-dind
  script:
  - '[ -n "$CI_COMMIT_TAG" ] && VERSION=${CI_COMMIT_TAG#"v"} || VERSION=${BOT_VERSION}-${CI_COMMIT_SHORT_SHA}'
  - BUILD_DATE=$(date -u +%FT%TZ)
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  ...

pages:
  artifacts:
    expire_in: 30 days
    paths:
    - public
  cache: {}
  script:
  - cp -r src/site/ public
  stage: deploy

Add slash handler for Volume
  src/main/kotlin/tech/gdragon/commands/settings/Volume.kt
Due: build, container

Register slash Volume implementation
  src/main/kotlin/tech/gdragon/discord/Bot.kt
Due: build, container

Update documentation
  src/site/commands.md
  src/site/commands/slash/stop.md
  src/site/commands/slash/volume.md
Due: pages

Check for file attach permissions before starting to record
  src/main/kotlin/tech/gdragon/BotUtils.kt
Due: build, container

Remove error handling, this should be caught elsewhere
  src/main/kotlin/tech/gdragon/BotUtils.kt
Due: build, container

Add new resource string record.cannot_upload
  src/main/kotlin/tech/gdragon/i18n/Lang.kt
  src/main/resources/translations.properties
Due: build, container

Add new resource string record.cannot_upload
  src/main/kotlin/tech/gdragon/BotUtils.kt
  src/main/kotlin/tech/gdragon/commands/audio/Record.kt
  src/main/resources/translations.properties
Due: build, container

Update CHANGELOG and bump version 2.10.0 -> 2.11.0
  .gitlab-ci.yml
  CHANGELOG.md
  launch4j.xml
  pom.xml
Due: build, container, pages

Update jda-ktx 2ea26b869 -> 0.10.0-beta.1
  pom.xml
Due: build, container

Update JDA 4.4.0_352 -> 5.0.0-beta.2
  pom.xml
Due: build, container

Update imports from entities.* -> entities.channel.{concrete,middleman}
  src/main/kotlin/tech/gdragon/BotUtils.kt
  src/main/kotlin/tech/gdragon/commands/audio/Record.kt
  src/main/kotlin/tech/gdragon/commands/audio/Save.kt
  src/main/kotlin/tech/gdragon/commands/audio/Stop.kt
  src/main/kotlin/tech/gdragon/commands/settings/AutoRecord.kt
  src/main/kotlin/tech/gdragon/commands/settings/AutoStop.kt
  src/main/kotlin/tech/gdragon/commands/settings/SaveLocation.kt
  src/main/kotlin/tech/gdragon/listener/CombinedAudioRecorderHandler.kt
Due: build, container

Remove test functions, deprecated not worth fixing
  src/dev/kotlin/tech/gdragon/TestApp.kt
Due: none

Remove deprecated use of Region
  src/dev/kotlin/tech/gdragon/TestApp.kt
  src/main/kotlin/tech/gdragon/BotUtils.kt
  src/main/kotlin/tech/gdragon/commands/settings/AutoRecord.kt
  src/main/kotlin/tech/gdragon/db/dao/DataAccessObject.kt
  src/main/kotlin/tech/gdragon/db/table/Tables.kt
  src/main/kotlin/tech/gdragon/discord/Bot.kt
  src/main/kotlin/tech/gdragon/listener/EventListener.kt
  src/test/kotlin/tech/gdragon/api/pawa/PawaTest.kt
Due: build, container

Update sendMesasge and sendFile usage
  src/main/kotlin/tech/gdragon/BotUtils.kt
Due: build, container

Update ShutdownEvent imoprt
  src/main/kotlin/tech/gdragon/listener/SystemEventListener.kt
Due: build, container

Replaced onGuidVoice* -> onGuildVoiceUpdate
  src/main/kotlin/tech/gdragon/listener/EventListener.kt
Due: build, container

Replace on*GuildMessageReceived -> onMessageReceived
  src/main/kotlin/tech/gdragon/listener/EventListener.kt
Due: build, container

Replace VoiceChannel -> AudioChannelUnion
  src/main/kotlin/tech/gdragon/BotUtils.kt
  src/main/kotlin/tech/gdragon/listener/CombinedAudioRecorderHandler.kt
Due: build, container

Update Permission enums to correct name
  src/main/kotlin/tech/gdragon/discord/Bot.kt
Due: build, container

Update CacheFlag.EMOTE -> CacheFlag.EMOJI
  src/main/kotlin/tech/gdragon/discord/Bot.kt
Due: build, container

Replace GuildMessageReceivedEvent -> MessageReceivedEvent
  src/main/kotlin/tech/gdragon/commands/CommandHandler.kt
  src/main/kotlin/tech/gdragon/commands/audio/Clip.kt
  src/main/kotlin/tech/gdragon/commands/audio/Record.kt
  src/main/kotlin/tech/gdragon/commands/audio/Save.kt
  src/main/kotlin/tech/gdragon/commands/audio/Stop.kt
  src/main/kotlin/tech/gdragon/commands/debug/Async.kt
  src/main/kotlin/tech/gdragon/commands/debug/Status.kt
  src/main/kotlin/tech/gdragon/commands/misc/Help.kt
  src/main/kotlin/tech/gdragon/commands/settings/Alias.kt
  src/main/kotlin/tech/gdragon/commands/settings/AutoRecord.kt
  src/main/kotlin/tech/gdragon/commands/settings/AutoSave.kt
  src/main/kotlin/tech/gdragon/commands/settings/AutoStop.kt
  src/main/kotlin/tech/gdragon/commands/settings/Ignore.kt
  src/main/kotlin/tech/gdragon/commands/settings/Language.kt
  src/main/kotlin/tech/gdragon/commands/settings/Prefix.kt
  src/main/kotlin/tech/gdragon/commands/settings/RemoveAlias.kt
  src/main/kotlin/tech/gdragon/commands/settings/SaveLocation.kt
  src/main/kotlin/tech/gdragon/commands/settings/Volume.kt
  src/main/kotlin/tech/gdragon/commands/slash/Info.kt
  src/main/kotlin/tech/gdragon/commands/slash/Slash.kt
Due: build, container

Delete Clip command
  src/main/kotlin/tech/gdragon/commands/audio/Clip.kt
  src/main/kotlin/tech/gdragon/discord/Bot.kt
  src/main/kotlin/tech/gdragon/listener/CombinedAudioRecorderHandler.kt
Due: build, container

Update jda-jtx imports
  src/main/kotlin/tech/gdragon/commands/audio/Record.kt
  src/main/kotlin/tech/gdragon/commands/audio/Save.kt
  src/main/kotlin/tech/gdragon/commands/audio/Stop.kt
  src/main/kotlin/tech/gdragon/commands/settings/Alias.kt
  src/main/kotlin/tech/gdragon/commands/settings/AutoSave.kt
  src/main/kotlin/tech/gdragon/commands/settings/AutoStop.kt
  src/main/kotlin/tech/gdragon/commands/settings/Ignore.kt
  src/main/kotlin/tech/gdragon/commands/settings/Language.kt
  src/main/kotlin/tech/gdragon/commands/settings/Volume.kt
  src/main/kotlin/tech/gdragon/commands/slash/Info.kt
  src/main/kotlin/tech/gdragon/commands/slash/Slash.kt
  src/main/kotlin/tech/gdragon/discord/Bot.kt
Due: build, container

Treatd event.channel as TextChannel
  src/main/kotlin/tech/gdragon/commands/settings/SaveLocation.kt
Due: build, container

Change CommandData -> Command from the ktx package
  src/main/kotlin/tech/gdragon/commands/slash/Info.kt
Due: build, container

Change mentionedUsers -> mentions.users
  src/main/kotlin/tech/gdragon/commands/settings/Ignore.kt
Due: build, container

Fix discrepancies with VoiceChannel and TextChannel
  src/main/kotlin/tech/gdragon/BotUtils.kt
  src/main/kotlin/tech/gdragon/commands/audio/Record.kt
  src/main/kotlin/tech/gdragon/commands/audio/Save.kt
  src/main/kotlin/tech/gdragon/commands/audio/Stop.kt
  src/main/kotlin/tech/gdragon/commands/settings/Volume.kt
  src/main/kotlin/tech/gdragon/discord/Bot.kt
  src/main/kotlin/tech/gdragon/listener/CombinedAudioRecorderHandler.kt
Due: build, container

Add Message Content intent, and disable Sticker and Scheduled Events
  src/main/kotlin/tech/gdragon/discord/Bot.kt
Due: build, container

Update CHANGELOG
  CHANGELOG.md
Due: pages

Add clean to package maven command
  justfile
Due: none

Add Plausible to pawa.im
  src/site/index.html
Due: pages

Use the hash-based routing script
  src/site/index.html
Due: pages

Update kotlin and kotest version
  pom.xml
Due: build, container

Update flayway-core version 9.3.0 -> 9.14.1
  pom.xml
Due: build, container

Update kotlin sources build configuration
  pom.xml
Due: build, container

Add connect and migrate fns to the Database interface
  src/main/kotlin/tech/gdragon/db/Database.kt
Due: build, container

Implement connect and migrate for EmbeddedDatabase
  src/main/kotlin/tech/gdragon/App.kt
  src/main/kotlin/tech/gdragon/db/Database.kt
Due: build, container

Move Koin Database module to tech.gdragon.db namespace
  src/main/kotlin/tech/gdragon/App.kt
  src/main/kotlin/tech/gdragon/db/Database.kt
Due: build, container

Fix "no else in if statement"
  src/main/kotlin/tech/gdragon/App.kt
Due: build, container

Update PawaTest
  src/test/kotlin/tech/gdragon/api/pawa/PawaTest.kt
Due: none

Path conditions:
  build: any of: Dockerfile, pom.xml, src/main/**/*
  container: any of: Dockerfile, pom.xml, src/main/**/*
  pages: any of: CHANGELOG.md, src/site/**/*
