Repository guacamoledragon/throw-voice: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, container, pages

.gitlab-ci.yml:

cache: &global_cache
  paths:
    - .m2/repository

variables:
  BOT_VERSION: 2.9.8
  MAVEN_OPTS: --batch-mode -Dmaven.repo.local=.m2/repository

build:
  image: maven:3.8-jdk-11
  only:
    changes: &code-changes
      - Dockerfile
      - pom.xml
      - src/main/**/*
  script:
    - mvn $MAVEN_OPTS de.qaware.maven:go-offline-maven-plugin:resolve-dependencies
    - mvn $MAVEN_OPTS test
  stage: build

container:
  image: docker:20.10.1
  cache: {}
  rules:
    - if: $CI_COMMIT_REF_NAME == 'master'
      changes: *code-changes
    - if: $CI_COMMIT_TAG
      changes: *code-changes
  services:
    - docker:20.10.1-dind
  script:
    - '[ -n "$CI_COMMIT_TAG" ] && VERSION=${CI_COMMIT_TAG#"v"} || VERSION=${BOT_VERSION}-${CI_COMMIT_SHORT_SHA}'
    - BUILD_DATE=$(date -u +%FT%TZ)
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - |
      docker build --quiet \
             --cache-from $CI_REGISTRY/pawabot/pawa:latest \
             -t $CI_REGISTRY/pawabot/pawa:${VERSION} \
             --build-arg VCS_REF=${CI_COMMIT_SHORT_SHA} \
             --build-arg BUILD_DATE=${BUILD_DATE} \
             --build-arg VERSION=${VERSION} \
             .
    - '[ -n "$CI_COMMIT_TAG" ] && docker push $CI_REGISTRY/pawabot/pawa:latest || docker push $CI_REGISTRY/pawabot/pawa:${VERSION}'
    - docker tag $CI_REGISTRY/pawabot/pawa:${VERSION} gdragon/throw-voice:${VERSION}
    - docker login -u $DOCKER_LOGIN -p $DOCKER_PASSWORD
    - docker push gdragon/throw-voice:${VERSION}
  stage: deploy
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: /certs

pages:
  artifacts:
    expire_in: 30 days
    paths:
      - public
  cache: {}
  script:
    - cp -r src/site/ public
  stage: deploy
  rules:
    - if: $CI_COMMIT_REF_NAME == 'master'
      changes:
        - CHANGELOG.md
        - src/site/**/*
    - if: $CI_COMMIT_TAG
      changes:
        - CHANGELOG.md
        - src/site/**/*

Add instrumentation to onGuildMessageReceived
  src/main/kotlin/tech/gdragon/commands/CommandHandler.kt
  src/main/kotlin/tech/gdragon/listener/EventListener.kt
Due: build, container

Create another scope for the command span
  src/main/kotlin/tech/gdragon/commands/CommandHandler.kt
Due: build, container

Add more WithSpan decorations on BotUtils
  src/main/kotlin/tech/gdragon/BotUtils.kt
Due: build, container

Add instrumentation to CombinedAudioRecorderHandler
  src/main/kotlin/tech/gdragon/listener/CombinedAudioRecorderHandler.kt
Due: build, container

Move migrate-pg.sh into justfile and simplify flyway.conf
  conf/flyway.conf
  justfile
  scripts/migrate-pg.sh
Due: none

Add migration to convert guilds.created_on text -> timestamp
  sql/postgres/V20220606203026__convert-created_on-to-timestamp.sql
Due: none

Add migration to covert guilds.last_active_on text -> timestamp
  sql/postgres/V20220607093604__convert-last_active_on-to-timestamp.sql
Due: none

Use timestamptz instead of timestamp
  sql/postgres/V20220606203026__convert-created_on-to-timestamp.sql
  sql/postgres/V20220607093604__convert-last_active_on-to-timestamp.sql
Due: none

Set a default password for apply-pg-migrations recipe
  justfile
Due: none

Update Guilds table to use timestamp
  src/main/kotlin/tech/gdragon/BotUtils.kt
  src/main/kotlin/tech/gdragon/commands/debug/Async.kt
  src/main/kotlin/tech/gdragon/db/Util.kt
  src/main/kotlin/tech/gdragon/db/table/Tables.kt
Due: build, container

Add migration to convert recordings.created_on text -> timestamptz
  sql/postgres/V20220607210253__convert-recordings-created_on-to-timestamp.sql
  sql/postgres/V20220607210348__convert-recordings-modified_on-to-timestamp.sql
Due: none

Add migration to convert recordings.modified_on text -> timestamptz
  sql/postgres/V20220607210348__convert-recordings-modified_on-to-timestamp.sql
Due: none

Update Recordings DAO to use Instant instead of DateTime for timestamptz
  src/main/kotlin/tech/gdragon/data/Datastore.kt
  src/main/kotlin/tech/gdragon/db/table/Tables.kt
  src/main/kotlin/tech/gdragon/listener/CombinedAudioRecorderHandler.kt
Due: build, container

Remove custom DateTimeColumnType implementation
  src/main/kotlin/tech/gdragon/db/DateColumnType.kt
Due: build, container

Add recipes for creating and restoring backup from PostgresQL
  justfile
Due: none

Update invite link with correct permissions on quickstart page
  src/site/quickstart.md
Due: pages

Add migration to convert recordings.id serial -> text
  sql/postgres/V20220609223934__convert-recordings-id-text.sql
Due: none

Update Recordings table from Long ID to Text ID
  src/main/kotlin/tech/gdragon/db/dao/DataAccessObject.kt
  src/main/kotlin/tech/gdragon/db/table/Tables.kt
  src/main/kotlin/tech/gdragon/listener/CombinedAudioRecorderHandler.kt
Due: build, container

Use java.time.Instant instead of org.joda.time.DateTime
  src/main/kotlin/tech/gdragon/BotUtils.kt
Due: build, container

Fix bug, toInt -> toLong
  src/main/kotlin/tech/gdragon/App.kt
Due: build, container

Rename sessionId -> session-id
  src/main/kotlin/tech/gdragon/listener/CombinedAudioRecorderHandler.kt
  src/main/resources/log4j2-prod.xml
Due: build, container

Remove nginx from docker-compose
  .dockerignore
  conf/nginx.conf
  docker-compose.yml
  scripts/provision.clj
Due: none

Ignore clj-kondo and lsp working directories
  .gitignore
Due: none

Show web app URL if present
  src/main/kotlin/tech/gdragon/listener/CombinedAudioRecorderHandler.kt
Due: build, container

Use session getter
  src/main/kotlin/tech/gdragon/listener/CombinedAudioRecorderHandler.kt
Due: build, container

Add APP_URL to docker-compose
  docker-compose.yml
Due: none

Update CHANGELOG, add list of bumped dependencies
  CHANGELOG.md
Due: pages

Add Pawa Lite commands to new table
  src/site/commands.md
Due: pages

Update sponsors list
  src/site/sponsors.md
Due: pages

Draft slash commands in the documentation
  src/site/commands.md
Due: pages

Add thorough docs for the Slash command
  src/site/commands/slash.md
Due: pages

Remove unused badge from README
  README.md
Due: none

Update affiliate links
  README.md
  src/site/README.md
Due: pages

Update Copyright year
  README.md
  src/site/README.md
Due: pages

Update Sponsors list in README
  README.md
Due: none

Add Docsify ko-fi plugin, looks nice yo
  src/site/README.md
  src/site/index.html
Due: pages

Add documentation for status command
  src/site/_media/commands/status.png
  src/site/commands/status.md
Due: pages

Ignore agent.jar
  .gitignore
Due: none

Re-order commands page, better grouping
  src/site/commands.md
Due: pages

Update docsify-themable version 0.8.4 -> 0.8.6
  src/site/index.html
Due: pages
