Repository guacamoledragon/throw-voice: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dependencies, test, container, coverage, pages

dependencies:
  image: maven:3.8.6-eclipse-temurin-17-alpine
  script:
  - mvn --batch-mode de.qaware.maven:go-offline-maven-plugin:resolve-dependencies
  stage: .pre

test:
  image: maven:3.8.6-eclipse-temurin-17-alpine
  services:
  - name: docker:20.10.17-dind
    command:
    - --tls=false
  script:
  - mvn --batch-mode org.jacoco:jacoco-maven-plugin:prepare-agent test org.jacoco:jacoco-maven-plugin:report
  ...

container:
  image: docker:20.10.17
  cache: {}
  services:
  - docker:20.10.17-dind
  script:
  - '[ -n "$CI_COMMIT_TAG" ] && VERSION=${CI_COMMIT_TAG#"v"} || VERSION=${BOT_VERSION}-${CI_COMMIT_SHORT_SHA}'
  - BUILD_DATE=$(date -u +%FT%TZ)
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  ...

coverage:
  image: registry.gitlab.com/haynes/jacoco2cobertura:1.0.9
  cache: {}
  script:
  - python /opt/cover2cover.py target/site/jacoco/jacoco.xml $CI_PROJECT_DIR/src/main/kotlin/ > target/site/cobertura.xml
  artifacts:
    reports:
      coverage_report:
        coverage_format: cobertura
  ...

pages:
  artifacts:
    expire_in: 30 days
    paths:
    - public
  cache: {}
  script:
  - cp -r src/site/ public
  stage: deploy

Add Docker build and run recipes for testing
  justfile
Due: none

Update GitlabCI test job to Java 21
  .gitlab-ci.yml
Due: none

Update Dockerfile to Java 21
  Dockerfile
Due: dependencies, test, container, coverage

Remove deprecated version key in docker-compose
  docker-compose.yml
Due: none

Adjust otel.version remove `-aplha` suffix
  pom.xml
Due: dependencies, test, container, coverage

Disable OTEL metrics and otel-collector in docker-compose
  docker-compose.yml
Due: none

Release v2.14.0
  .gitlab-ci.yml
  CHANGELOG.md
  h2-runscript.xml
  h2-script.xml
  justfile
  launch4j.xml
  pom.xml
Due: dependencies, test, container, coverage, pages

Remove nonroot tag, preventing from creating files and logs
  Dockerfile
Due: dependencies, test, container, coverage

Update CHANGELOG
  CHANGELOG.md
Due: pages

Exclude awssdk crt package from PawaLite, it's heavy and it's not used
  pom.xml
Due: dependencies, test, container, coverage

Print maven version, as a sanity check.
  justfile
Due: none

Remove github from FUNDING.yml
  .github/FUNDING.yml
Due: none

Insert missing guilds in a batch query instead of one at a time
  src/main/kotlin/tech/gdragon/discord/Bot.kt
Due: dependencies, test, container, coverage

Use coroutines to leave channels in parallel
  src/main/kotlin/tech/gdragon/BotUtils.kt
Due: dependencies, test, container, coverage

Create Settings record when missing
  src/main/kotlin/tech/gdragon/db/dao/DataAccessObject.kt
  src/main/kotlin/tech/gdragon/discord/Bot.kt
Due: dependencies, test, container, coverage

Bump jda.version from 5.0.0-beta.22 to 5.0.0
  pom.xml
Due: dependencies, test, container, coverage

Bump otel.version from 2.6.0 to 2.6.0-alpha
  pom.xml
  sql/postgres/V20240714120054__add-index-for-recordings-guild.sql
Due: dependencies, test, container, coverage

Bump jda.version from 5.0.0 to 5.0.1
  pom.xml
Due: dependencies, test, container, coverage

Add migration to create an index on recordings.guild
  justfile
  sql/postgres/V20240714120054__add-index-for-recordings-guild.sql
Due: dependencies, test, container, coverage

Bump jda.version from 5.0.1 to 5.1.1
  pom.xml
Due: dependencies, test, container, coverage

Revert "Bump otel.version from 2.6.0 to 2.8.0"
  pom.xml
Due: dependencies, test, container, coverage

Bump kotlin.version from 2.0.0 to 2.0.20
  pom.xml
Due: dependencies, test, container, coverage

Add koin-bom dependency
  pom.xml
Due: dependencies, test, container, coverage

Create new slash command /save-destination
  src/main/kotlin/tech/gdragon/commands/settings/SaveDestination.kt
  src/main/kotlin/tech/gdragon/discord/Bot.kt
Due: dependencies, test, container, coverage

Stub out behaviour for slash command
  src/main/kotlin/tech/gdragon/commands/settings/SaveDestination.kt
  src/main/kotlin/tech/gdragon/discord/Bot.kt
Due: dependencies, test, container, coverage

Add saveDestination function to Pawa
  src/main/kotlin/tech/gdragon/api/pawa/Pawa.kt
Due: dependencies, test, container, coverage

Handle common scenarios without edge cases
  src/main/kotlin/tech/gdragon/commands/settings/SaveDestination.kt
  src/main/kotlin/tech/gdragon/i18n/Lang.kt
Due: dependencies, test, container, coverage

Handle exception when there's an error tagging MP3
  src/main/kotlin/tech/gdragon/api/tape/Utils.kt
Due: dependencies, test, container, coverage

Handle edge case to bring parity and remove optional features
  src/main/kotlin/tech/gdragon/commands/settings/SaveDestination.kt
Due: dependencies, test, container, coverage

Add BotUtils#reply function for handling slash command replies
  src/main/kotlin/tech/gdragon/BotUtils.kt
Due: dependencies, test, container, coverage

/save-destination respects the default channel setting
  src/main/kotlin/tech/gdragon/commands/settings/SaveDestination.kt
Due: dependencies, test, container, coverage

Upload recording to defaultTextChannel if specified
  src/main/kotlin/tech/gdragon/BotUtils.kt
Due: dependencies, test, container, coverage

/record respects defaultTextChannel
  src/main/kotlin/tech/gdragon/commands/audio/Record.kt
Due: dependencies, test, container, coverage

/save respects defaultTextChannel
  src/main/kotlin/tech/gdragon/commands/audio/Save.kt
Due: dependencies, test, container, coverage

/stop respects defaultTextChannel
  src/main/kotlin/tech/gdragon/commands/audio/Stop.kt
Due: dependencies, test, container, coverage

Use defaultTextChannel function instead of doing it manually
  src/main/kotlin/tech/gdragon/BotUtils.kt
Due: dependencies, test, container, coverage

Add database migration to add voicechannel to channels table
  sql/postgres/V20240929145808__add-column-channels-voicechannel.sql
  src/main/resources/h2/V20240929150113__add-column-channels-voicechannel.sql
Due: dependencies, test, container, coverage

Add Pawa#linkDestination method to link two channels
  src/main/kotlin/tech/gdragon/api/pawa/Pawa.kt
  src/main/kotlin/tech/gdragon/commands/settings/SaveDestination.kt
  src/main/kotlin/tech/gdragon/db/dao/DataAccessObject.kt
  src/main/kotlin/tech/gdragon/db/table/Tables.kt
Due: dependencies, test, container, coverage

Determine which channel to use as destination channel when saving
  src/main/kotlin/tech/gdragon/BotUtils.kt
Due: dependencies, test, container, coverage

Handle the voice channel option in the /save-destination command
  src/main/kotlin/tech/gdragon/api/pawa/Pawa.kt
  src/main/kotlin/tech/gdragon/commands/audio/Record.kt
  src/main/kotlin/tech/gdragon/commands/settings/SaveDestination.kt
Due: dependencies, test, container, coverage

Path conditions:
  dependencies: any of: Dockerfile, pom.xml, src/main/**/*, src/test/**/*, sql/**/*
  test: any of: Dockerfile, pom.xml, src/main/**/*, src/test/**/*, sql/**/*
  container: any of: Dockerfile, pom.xml, src/main/**/*, src/test/**/*, sql/**/*
  coverage: any of: Dockerfile, pom.xml, src/main/**/*, src/test/**/*, sql/**/*
  pages: any of: CHANGELOG.md, src/site/**/*
